
ul{
    list-style: none;
}


/*nav style*/

header{
    background-image: url(./images/header_img.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

nav{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    background-color: rgb(247, 74, 8);
    color: black;
    position: relative;
    border-radius: 5px;
}

.menu > li, .menu > a{
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, .22s ease;
}

.menu a:hover{
    background-color: black;
    color: rgb(247, 74, 8);
    border-radius: 5px;
}

.legord{
    position: absolute;
    display: none;
    width: 130px;
}

.legord a{
    float: none;
}

.menu li:hover>.legord{
    display: block;
}

.menu li > .legord a :hover{
    display: ruby;
    border-radius: 5px;
}

@media only screen and (max-width:800px){
    .legord{
        top: 2%;
        left: 93%;
    }
}