body{
    background-image: url(./images/backgrund_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(247, 74, 8);
}

header{
    background-image: url(./images/header_img.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

table{
    float: right;
    border: rgb(247, 74, 8) solid 1px;
    background-color: rgba(100, 0, 0, 0.2);
}
table th{
    background-color:black;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li{
    float: left;
    background-color: rgb(20,20,15);
    border-radius: 5px;
    font-size: 15px;
    margin: 5px;
}

.tartalom{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15%;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.2);
}


li a{
    display: block;
    color: rgb(247, 74, 8);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(247, 74, 8);
    color: rgb(20,20,15);
    border-radius: 5px;
}

p{
    font-size: 20px;
}

h1{
    text-shadow: 2px 2px black;
}

h3{
    text-decoration: underline;
}

.jatek ul{
    list-style-type: none;
    font-size: 30px;
}
.jatek li{
    margin: 15px;
}



.jatek img{
    padding-left: 50px;
}

.bek_formazas{
    padding: 30px 30px;
}

.kep{
    float: left;
    height: 50%;
    width: 50%;
    padding-right: 20px;
}

.frakcios{
    clear: both;
    padding-top: 30px;
}

.hyenas p{
    padding-bottom: 20px;
}

.true_sons p{
    padding-bottom: 60px;
}

.outcasts p{
    padding-bottom: 80px;
}

.black_tusk p{
    padding-bottom: 100px;
}