body{
    background-image: url(./images/backgrund_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(247, 74, 8);
}


footer{
    border-top: rgb(247, 74, 8) solid 1px;
    text-align: center;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    clear: both;
    
}

footer a{
    text-decoration: none;
    color: rgb(247, 74, 8);
}

table{
    float: right;
    border: rgb(247, 74, 8) solid 1px;
    background-color: rgba(100, 0, 0, 0.2);
}

table th{
    background-color:black;
}

p{
    font-size: 20px;
}

h1{
    text-shadow: 2px 2px black;
}

h3{
    text-decoration: underline;
}

.tartalom{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10%;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.2);
}

.jatek ul{
    list-style-type: none;
    font-size: 30px;
}
.jatek li{
    margin: 15px;
}

.jatek img{
    padding-left: 50px;
}

.bek_formazas{
    padding: 30px 30px;
}

.kep{
    float: left;
    height: 50%;
    width: 50%;
    padding-right: 20px;
}

.valaszto{
    clear: both;
    padding-top: 30px;
}

.hyenas p{
    padding-bottom: 2%;
}

.true_sons p{
    padding-bottom: 6%;
}

.outcasts p{
    padding-bottom: 8%;
}

.black_tusk p{
    padding-bottom: 5%;
}

.kevlar{
    width: 100%;
    text-align: center;
}

.shoot_gif{
    float:right;
}

.sidebar{
    margin: 10px;
    padding: 0;
    float: right;
    border: rgb(247, 74, 8) solid 1px;
}

.sidebar a{
    text-decoration: none;
    color: rgb(247, 74, 8);
    text-align: center;
    position: relative;
}

@media only screen and (max-width:800px){
    li{
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
    }

    table .kevlar{
        width: 100%;
        height: auto;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .kevlar td{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .shoot_gif{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}